html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

img {
  margin: 10px auto;
  height: auto;
  width: auto;
}

.title {
  font-family: 'pp_editorial_newultraBdIt';
  font-style: italic;
  color: #fff;
  font-size: 50px;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.banner h2 {
  font-family: 'pp_editorial_newregular';
  font-size: 36px;
}

.banner p {
  font-family: 'pp_editorial_newitalic';
  font-style: italic;
}

/*Fonts*/
@font-face {
    font-family: 'pp_editorial_newultraBdIt';
    src: url('ppeditorialnew-ultrabolditalic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_editorial_newitalic';
    src: url('ppeditorialnew-italic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_editorial_newultraLtIt';
    src: url('ppeditorialnew-ultralightitalic-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_editorial_newultralight';
    src: url('ppeditorialnew-ultralight-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_editorial_newultrabold';
    src: url('ppeditorialnew-ultrabold-webfont.woff2') format('woff2'),
         url('ppeditorialnew-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_editorial_newregular';
    src: url('ppeditorialnew-regular-webfont.woff2') format('woff2'),
         url('ppeditorialnew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Sizing*/
.container {
  margin: 0 auto;
}
.main {
    background-color: #ffc200;
}


/*TopBanner Section*/
.topbanner {
  background-color: #ffc200;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

#topbanner h1 {
  position: absolute;
  top: 40px;
  left: 15px;
}

.topbanner img {
  display: block;
  position: absolute;
  right: 16px;
  bottom: 30px;
  height: 250px;
  width: auto;
  padding: 8px 8px;
}

.topbanner .navbar {
  padding: 8px 8px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  line-height: 2;
  vertical-align: middle;
}

.topbanner .navbar li {
  list-style: none;
  display: block;
  float: left;
}

.topbanner .navbar li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
}

.topbanner .navbar li a:hover {
  color: #666;
}

/*Jumbotron Section*/
.jumbotron {
  background-color: #fff;
  max-width: 100%;
  margin-left: 50px;
}

.jumbotron h2 {
  margin-bottom: 70px;
  text-align: left;
}

.jumbotron h2 span {
  color:#ffc200;
}

@media screen and (max-width: 600px) {
  .jumbotron {
    margin-left: 25px;
    margin-right: 25px;
  }
}


/*Banner Section*/
.banner {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}


/*Expertise Section*/
#expertise {
  padding: 20px;
  background-color: #ffc200;
  margin: 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 4px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 24%;
  padding: 0px 4px;
}

.col img {
  margin: 4px auto;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .col {
    flex: 48%;
    max-width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

/*Cards*/
.imagetextcontainer {
  position: relative;
  text-align: center;
}

.centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  text-decoration: none;
  font-weight: bold;
}

/*Footer Section*/
.footer {
  padding: 60px 0px;
  background-color: #000;
  color: #fff;
}
.footer h3 {
  font-size: 20px;
  margin-left: 20px;
}
.footer p {
  font-size:12px;
  margin-bottom: 0;
  margin-left: 20px;
}
