html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
}

img {
  margin: 10px auto;
  height: auto;
  width: auto;
}

ul {
  text-align: right;
}

h1 {
  font-size: 20px;
}

/*Sizing*/
.container {
  margin: 0 auto;
}
.spacer {
  max-width: 1200px;
  margin: auto;
}
.main {
    background-color: #ffc200;
}


/*TopBanner Section*/
.topbanner {
  background-color: #ffc200;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

#topbanner h1 {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 40px;
  left: 15px;
}

.topbanner img {
  display: block;
  position: absolute;
  right: 16px;
  bottom: 30px;
  height: 250px;
  width: auto;
  padding: 8px 8px;
}

.topbanner .navbar {
  padding: 8px 8px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  line-height: 2;
  vertical-align: middle;
}

.topbanner .navbar li {
  list-style: none;
  display: block;
  float: left;
}

.topbanner .navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
}

.topbanner .navbar li a:hover {
  color: #666;
}

/*Searchbar section*/
.navbar .search-container {
  float: right;
  display: block;
}

.navbar input[type=text] {
  padding: 5px;
  font-size: 17px;
  border: none;
  
}

.navbar .search-container button {
  float: right;
  margin-right: 8px;
  padding: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #ccc;
}


/*Jumbotron Section*/
.jumbotron {
  background-color: #fff;
  max-width: 100%;
  margin-left: 50px;
}

.jumbotron h2 {
  font-size: 50px;
  margin-bottom: 70px;
  text-align: left;
}

.jumbotron h2 span {
  color:#ffc200;
}


/*Banner Section*/
.banner {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/*Expertise Section*/
.cards {
  background-color: #ffc200;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

}

#expertise {
  padding: 20px;
  background-color: #ffc200;
  margin: 0;
  text-align: center;
}
/*Footer Section*/
.footer {
  padding: 60px 0px;
  background-color: #000;
  color: #fff;
}
.footer h3 {
  font-size: 20px;
  margin-left: 20px;
}
.footer p {
  font-size:12px;
  margin-bottom: 0;
  margin-left: 20px;
}
